body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="number"] {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

#result {
    font-weight: bold;
    margin-top: 20px;
}
